.layout {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

.layout-canvas {
    display: flex;
    width: 100%;
    height: 100%;
}

.layout-left-side{
    width: 20%;
    background-color: gray;
    height: 640px;
}

.layout-right-side{
    width: 75%;
}


@media screen and (min-width: 650px){
    .layout {
        width: 50%;
    }
 
    .layout-canvas {
        height: 50%;
        width: 100%;
        display: flex;
    }
 
    .layout-right-side {
        width: 70%;
    }
 
    .layout-left-side {
        display: block;
        height: 100%;
        width: 30%;
        background-color: darkgray;
    }
 
    .layout {
        width: 50%;
    }
 
    .layout-canvas {
        height: 50%;
    }
 }
 